.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-paciente {
  background-color: #f8f9fa;
} 

.logo {
  width: 150px;
  height: auto;
  padding: 0.5em 0;
}

footer {
  display: flex;
  margin-top: auto;
  width:100%;
  font-style: italic;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f8f3;
  flex-direction: column-reverse;
}